
*{
    font-family: "Comic Sans MS", "Comic Sans", cursive, sans-serif;
}

.header {
    display:flex;
    justify-content: space-between;
}
/*
body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    */
body {
    background: #686987;
    background-size: cover;
    margin: 0;
    font: normal 13px/1.3 '1785 GLC Baskerville', serif;
}

a {
    color: #a493c0;
    text-decoration: none;
}

#LightGame, #StarGame 
{
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: double;
}
#LightGame #StarGame, button{
    width: 200px;
    justify-self: center;
    align-content: center;
    align-self: center;
}
.InfoDump
{
    border-style: double;
    border-color: black;
}

.PicturesOfMe
{
    display:flex;
    display:inline-flex;
    width: 500px;
}
.PicturesOfMe img 
{
    height: 200px;
    width: auto;
}
.ArtShowcase img{
    height:200px;
}

